<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner"fxLayout="row wrap">
    <div class="carousel-item active">
      <div class="cards-wrapper">


        <div class="card">
          <div class="image-wrapper" align="center">
            <img src="https://img.freepik.com/vetores-premium/por-do-sol-das-palmeiras_54199-323.jpg" align="center" alt="..." >
          </div>
          <div class="card-body">
            <h5 class="card-title">São Sebastião - 25 km</h5>
            <div fxLayout="row" fxLayoutWrap="wrap"  style="margin-top: -10px;">
              <div style="margin-top: 30px; width: 100%;">
                <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Manhã 24°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Tarde 29°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Noite 23°</h3>
                  <small>Ensolarado</small>
              </div>
            </div>


          </div>
          
            <p class="card-text" style="margin-top: 20px;">Hoje é um bom dia para curtir a praia.</p>
            <a href="#" class="btn btn-primary">Ver rota</a>
          </div>
          
        </div>
        
        <div class="card">
          <div class="image-wrapper" align="center">
            <img src="https://img.freepik.com/vetores-premium/por-do-sol-das-palmeiras_54199-323.jpg" align="center" alt="..." >
          </div>
          <div class="card-body">
            <h5 class="card-title">São Sebastião - 25 km</h5>
            <div fxLayout="row" fxLayoutWrap="wrap"  style="margin-top: -10px;">
              <div style="margin-top: 30px; width: 100%;">
                <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Manhã 24°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Tarde 29°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Noite 23°</h3>
                  <small>Ensolarado</small>
              </div>
            </div>


          </div>
          
            <p class="card-text" style="margin-top: 20px;">Hoje é um bom dia para curtir a praia.</p>
            <a href="#" class="btn btn-primary">Ver rota</a>
          </div>
          
        </div>
        <div class="card">
          <div class="image-wrapper" align="center">
            <img src="https://img.freepik.com/vetores-premium/por-do-sol-das-palmeiras_54199-323.jpg" align="center" alt="..." >
          </div>
          <div class="card-body">
            <h5 class="card-title">São Sebastião - 25 km</h5>
            <div fxLayout="row" fxLayoutWrap="wrap"  style="margin-top: -10px;">
              <div style="margin-top: 30px; width: 100%;">
                <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Manhã 24°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Tarde 29°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Noite 23°</h3>
                  <small>Ensolarado</small>
              </div>
            </div>


          </div>
          
            <p class="card-text" style="margin-top: 20px;">Hoje é um bom dia para curtir a praia.</p>
            <a href="#" class="btn btn-primary">Ver rota</a>
          </div>
          
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <div class="image-wrapper" align="center">
            <img src="https://img.freepik.com/vetores-premium/montanhas-e-construcao-em-circulo-paisagem-de-verao-vista-da-pequena-casa-na-natureza_697711-198.jpg?w=2000" align="center" alt="..." >
          </div>
          <div class="card-body">
            <h5 class="card-title">Carrancas - 442 km</h5>
            <div fxLayout="row" fxLayoutWrap="wrap"  style="margin-top: -10px;">
              <div style="margin-top: 30px;  width: 100%;">
                <div fxFlex.gt-sm="40.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Manhã 24°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Tarde 29°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Noite 23°</h3>
                  <small>Ensolarado</small>
              </div>
            </div>


          </div>
          
            <p class="card-text" style="margin-top: 20px;">Quem sabe curtir um verde sol caia bem?.</p>
            <a href="#" class="btn btn-primary">Ver rota</a>
          </div>
          
        </div>
        <div class="card">
          <div class="image-wrapper" align="center">
            <img src="https://img.freepik.com/vetores-premium/montanhas-e-construcao-em-circulo-paisagem-de-verao-vista-da-pequena-casa-na-natureza_697711-198.jpg?w=2000" align="center" alt="..." >
          </div>
          <div class="card-body">
            <h5 class="card-title">Carrancas - 442 km</h5>
            <div fxLayout="row" fxLayoutWrap="wrap"  style="margin-top: -10px;">
              <div style="margin-top: 30px;  width: 100%;">
                <div fxFlex.gt-sm="40.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Manhã 24°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Tarde 29°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Noite 23°</h3>
                  <small>Ensolarado</small>
              </div>
            </div>


          </div>
          
            <p class="card-text" style="margin-top: 20px;">Quem sabe curtir um verde sol caia bem?.</p>
            <a href="#" class="btn btn-primary">Ver rota</a>
          </div>
          
        </div>
        <div class="card">
          <div class="image-wrapper" align="center">
            <img src="https://img.freepik.com/vetores-premium/montanhas-e-construcao-em-circulo-paisagem-de-verao-vista-da-pequena-casa-na-natureza_697711-198.jpg?w=2000" align="center" alt="..." >
          </div>
          <div class="card-body">
            <h5 class="card-title">Carrancas - 442 km</h5>
            <div fxLayout="row" fxLayoutWrap="wrap"  style="margin-top: -10px;">
              <div style="margin-top: 30px;  width: 100%;">
                <div fxFlex.gt-sm="40.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Manhã 24°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Tarde 29°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Noite 23°</h3>
                  <small>Ensolarado</small>
              </div>
            </div>


          </div>
          
            <p class="card-text" style="margin-top: 20px;">Quem sabe curtir um verde sol caia bem?.</p>
            <a href="#" class="btn btn-primary">Ver rota</a>
          </div>
          
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <div class="image-wrapper" align="center">
            <img src="https://img.freepik.com/vetores-premium/paisagem-criativa-com-ferrovia-e-trem-no-circulo-do-logotipo-sinal-ambiental-ecologico-e-da-natureza-elemento-de-design-para-emblema-ou-ilustracao-vetorial-distintivo-isolado-em-um-fundo-branco_178650-8553.jpg?w=2000" align="center" alt="..." >
          </div>
          <div class="card-body">
            <h5 class="card-title">Paranapiacaba - 62 km</h5>
            <div fxLayout="row" fxLayoutWrap="wrap"  style="margin-top: -10px;">
              <div style="margin-top: 30px;   width: 100%;">
                <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Manhã 24°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Tarde 29°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Noite 23°</h3>
                  <small>Ensolarado</small>
              </div>
            </div>


          </div>
          
            <p class="card-text" style="margin-top: 20px;">Um pouco de cidade histórica para abrir sua mente?.</p>
            <a href="#" class="btn btn-primary">Ver rota</a>
          </div>
          
        </div>
        <div class="card">
          <div class="image-wrapper" align="center">
            <img src="https://img.freepik.com/vetores-premium/por-do-sol-das-palmeiras_54199-323.jpg" align="center" alt="..." >
          </div>
          <div class="card-body">
            <h5 class="card-title">São Sebastião - 25 km</h5>
            <div fxLayout="row" fxLayoutWrap="wrap"  style="margin-top: -10px;">
              <div style="margin-top: 30px;">
                <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Manhã 24°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Tarde 29°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Noite 23°</h3>
                  <small>Ensolarado</small>
              </div>
            </div>


          </div>
          
            <p class="card-text">Hoje é um bom dia para curtir a praia.</p>
            <a href="#" class="btn btn-primary">Ver rota</a>
          </div>
          
        </div>
        <div class="card">
          <div class="image-wrapper" align="center">
            <img src="https://img.freepik.com/vetores-premium/por-do-sol-das-palmeiras_54199-323.jpg" align="center" alt="..." >
          </div>
          <div class="card-body">
            <h5 class="card-title">São Sebastião - 25 km</h5>
            <div fxLayout="row" fxLayoutWrap="wrap"  style="margin-top: -10px;">
              <div style="margin-top: 30px;">
                <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Manhã 24°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Tarde 29°</h3>
                  <small>Ensolarado</small>
              </div>
              <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                  <h3 class="m-0 font-light">Noite 23°</h3>
                  <small>Ensolarado</small>
              </div>
            </div>


          </div>
          
            <p class="card-text">Hoje é um bom dia para curtir a praia.</p>
            <a href="#" class="btn btn-primary">Ver rota</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" onclick="$('#carouselExampleControls').carousel('prev')">

    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>