<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="display: contents;" >
  <div class="carousel-inner" fxLayout="row wrap" style="margin: 0px;"   >
    <div class="carousel-item active">
      <div class="cards-wrapper">


        <div class="card">
          <div class="image-wrapper" align="center">
            <img
              src="https://images.pexels.com/photos/1032650/pexels-photo-1032650.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"
              align="center" alt="...">
          </div>
          <div class="card-body" >
            <h3 class="card-title">São Sebastião - 25 km</h3>
            <div class="post-previsao-do-tempo__previsao">
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--1">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>manhã</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/sun.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>tarde</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2n">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>noite</div>
              </div>
              <div class="post-previsao-do-tempo__temperaturas">
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">31º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">max</span></div>
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">18º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">min</span></div>
              </div>
            </div>

            <p class="card-text" style="margin-top: 20px;">Um bom dia para curtir a praia.</p>

            <button mat-button color="primary">
              <img src="assets/images/landscapes/google-maps.png" style="max-width: 70px; max-height: 30px;" alt="user">
              Ver rota
            </button>

            <button mat-button color="primary"  style="margin-left: 15%">
              <mat-icon>share</mat-icon>
              Compartilhar
            </button>
          </div>

        </div>

        <div class="card">
          <div class="image-wrapper" align="center">
            <img
              src="https://images.pexels.com/photos/1032650/pexels-photo-1032650.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"
              align="center" alt="...">
          </div>
          <div class="card-body">
            <h3 class="card-title">São Sebastião - 25 km</h3>
            <div class="post-previsao-do-tempo__previsao">
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--1">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>manhã</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/sun.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>tarde</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2n">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>noite</div>
              </div>
              <div class="post-previsao-do-tempo__temperaturas">
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">31º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">max</span></div>
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">18º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">min</span></div>
              </div>
            </div>

            <p class="card-text" style="margin-top: 20px;">Um bom dia para curtir a praia.</p>

            <button mat-button color="primary">
              <img src="assets/images/landscapes/google-maps.png" style="max-width: 70px; max-height: 30px;" alt="user">
              Ver rota
            </button>

            <button mat-button color="primary" style="margin-left: 15%">
              <mat-icon>share</mat-icon>
              Compartilhar
            </button>
          </div>

        </div>
        <div class="card">
          <div class="image-wrapper" align="center">
            <img
              src="https://images.pexels.com/photos/1032650/pexels-photo-1032650.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"
              align="center" alt="...">
          </div>
          <div class="card-body">
            <h3 class="card-title">São Sebastião - 25 km</h3>
            <div class="post-previsao-do-tempo__previsao">
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--1">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>manhã</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/sun.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>tarde</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2n">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>noite</div>
              </div>
              <div class="post-previsao-do-tempo__temperaturas">
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">31º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">max</span></div>
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">18º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">min</span></div>
              </div>
            </div>

            <p class="card-text" style="margin-top: 20px;">Um bom dia para curtir a praia.</p>

            <button mat-button color="primary">
              <img src="assets/images/landscapes/google-maps.png" style="max-width: 70px; max-height: 30px;" alt="user">
              Ver rota
            </button>

            <button mat-button color="primary" style="margin-left: 15%">
              <mat-icon>share</mat-icon>
              Compartilhar
            </button>
          </div>

        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <div class="image-wrapper" align="center">
            <img
              src="https://images.pexels.com/photos/6469984/pexels-photo-6469984.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"
              align="center" alt="...">
          </div>
          <div class="card-body">
            <h3 class="card-title">Carrancas - 442 km</h3>
            <div class="post-previsao-do-tempo__previsao">
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--1">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>manhã</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/sun.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>tarde</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2n">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>noite</div>
              </div>
              <div class="post-previsao-do-tempo__temperaturas">
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">31º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">max</span></div>
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">18º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">min</span></div>
              </div>
            </div>

            <p class="card-text" style="margin-top: 20px;">Quem sabe curtir um verde caia bem?.</p>
            <button mat-button color="primary">
              <img src="assets/images/landscapes/google-maps.png" style="max-width: 70px; max-height: 30px;" alt="user">
              Ver rota
            </button>

            <button mat-button color="primary" style="margin-left: 15%">
              <mat-icon>share</mat-icon>
              Compartilhar
            </button>
          </div>

        </div>
        <div class="card">
          <div class="image-wrapper" align="center">
            <img
              src="https://images.pexels.com/photos/6469984/pexels-photo-6469984.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"
              align="center" alt="...">
          </div>
          <div class="card-body">
            <h3 class="card-title">Carrancas - 442 km</h3>
            <div class="post-previsao-do-tempo__previsao">
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--1">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>manhã</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/sun.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>tarde</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2n">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>noite</div>
              </div>
              <div class="post-previsao-do-tempo__temperaturas">
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">31º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">max</span></div>
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">18º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">min</span></div>
              </div>
            </div>

            <p class="card-text" style="margin-top: 20px;">Quem sabe curtir um verde caia bem?.</p>
            <button mat-button color="primary">
              <img src="assets/images/landscapes/google-maps.png" style="max-width: 70px; max-height: 30px;" alt="user">
              Ver rota
            </button>

            <button mat-button color="primary"  style="margin-left: 15%">
              <mat-icon>share</mat-icon>
              Compartilhar
            </button>
          </div>

        </div>
        <div class="card">
          <div class="image-wrapper" align="center">
            <img
              src="https://images.pexels.com/photos/6469984/pexels-photo-6469984.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"
              align="center" alt="...">
          </div>
          <div class="card-body">
            <h3 class="card-title">Carrancas - 442 km</h3>
            <div class="post-previsao-do-tempo__previsao">
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--1">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>manhã</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/sun.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>tarde</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2n">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>noite</div>
              </div>
              <div class="post-previsao-do-tempo__temperaturas">
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">31º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">max</span></div>
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">18º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">min</span></div>
              </div>
            </div>

            <p class="card-text" style="margin-top: 20px;">Quem sabe curtir um verde caia bem?.</p>
            <button mat-button color="primary">
              <img src="assets/images/landscapes/google-maps.png" style="max-width: 70px; max-height: 30px;" alt="user">
              Ver rota
            </button>

            <button mat-button color="primary" style="margin-left: 15%">
              <mat-icon>share</mat-icon>
              Compartilhar
            </button>
          </div>

        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <div class="image-wrapper" align="center">
            <img
              src="https://images.pexels.com/photos/1486974/pexels-photo-1486974.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"
              align="center" alt="...">
          </div>
          <div class="card-body">
            <h3 class="card-title">Paranapiacaba - 62 km</h3>
            <div class="post-previsao-do-tempo__previsao">
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--1">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>manhã</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/sun.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>tarde</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2n">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>noite</div>
              </div>
              <div class="post-previsao-do-tempo__temperaturas">
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">31º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">max</span></div>
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">18º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">min</span></div>
              </div>
            </div>

            <p class="card-text" style="margin-top: 20px;">Um pouco de cidade histórica para abrir sua mente?.</p>
            <button mat-button color="primary">
              <img src="assets/images/landscapes/google-maps.png" style="max-width: 70px; max-height: 30px;" alt="user">
              Ver rota
            </button>

            <button mat-button color="primary" style="margin-left: 15%">
              <mat-icon>share</mat-icon>
              Compartilhar
            </button>
          </div>

        </div>
        <div class="card">
          <div class="image-wrapper" align="center">
            <img
              src="https://images.pexels.com/photos/1486974/pexels-photo-1486974.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"
              align="center" alt="...">
          </div>
          <div class="card-body">
            <h3 class="card-title">Paranapiacaba - 62 km</h3>
            <div class="post-previsao-do-tempo__previsao">
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--1">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>manhã</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/sun.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>tarde</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2n">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>noite</div>
              </div>
              <div class="post-previsao-do-tempo__temperaturas">
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">31º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">max</span></div>
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">18º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">min</span></div>
              </div>
            </div>

            <p class="card-text" style="margin-top: 20px;">Um pouco de cidade histórica para abrir sua mente?.</p>
            <button mat-button color="primary">
              <img src="assets/images/landscapes/google-maps.png" style="max-width: 70px; max-height: 30px;" alt="user">
              Ver rota
            </button>

            <button mat-button color="primary">
              <mat-icon>share</mat-icon>
              Compartilhar
            </button>
          </div>

        </div>
        <div class="card">
          <div class="image-wrapper" align="center">
            <img
              src="https://images.pexels.com/photos/1486974/pexels-photo-1486974.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"
              align="center" alt="...">
          </div>
          <div class="card-body">
            <h3 class="card-title">Paranapiacaba - 62 km</h3>
            <div class="post-previsao-do-tempo__previsao">
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--1">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>manhã</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/sun.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>tarde</div>
              </div>
              <div class="post-previsao-do-tempo__previsao-do-dia">
                <div class="post-previsao-do-tempo__icon post-previsao-do-tempo__icon--2n">
                  <div class="pro-img">
                    <img src="assets/images/landscapes/cloud.jpg" style="max-width: 70px; max-height: 30px;" alt="user">
                  </div>
                </div>
                <div>noite</div>
              </div>
              <div class="post-previsao-do-tempo__temperaturas">
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">31º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">max</span></div>
                <div class="post-previsao-do-tempo__temperatura"><span
                    class="post-previsao-do-tempo__temperatura--valor">18º</span><span
                    class="post-previsao-do-tempo__temperatura--sufixo">min</span></div>
              </div>
            </div>

            <p class="card-text" style="margin-top: 20px;">Um pouco de cidade histórica para abrir sua mente?.</p>
            <button mat-button color="primary">
              <img src="assets/images/landscapes/google-maps.png" style="max-width: 70px; max-height: 30px;" alt="user">
              Ver rota
            </button>

            <button mat-button color="primary" style="margin-left: 15%">
              <mat-icon>share</mat-icon>
              Compartilhar
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next"
    onclick="$('#carouselExampleControls').carousel('prev')">

    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>