<mat-card class="oh text-center little-profile" style="align-content: center;" *ngIf="forecastDay">
    <img mat-card-image src="assets/images/landscapes/cidade_sp_dia.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div class="pro-img">
            <img src="assets/images/landscapes/sun.png" style="max-width: 70px; max-height: 70px;" alt="user">
        </div>
        <h3 class="m-b-0" style="color: rgb(145, 145, 145);  font-size: 20px; font-weight: bold;">{{forecastDay.date}}
        </h3>

        <h6 class="m-t-0 " style="color: rgb(145, 145, 145); font-size: 20px; font-weight: bold;">
            {{forecastDay.climate}}</h6>

        <h6 class="m-t-0 " style="color: rgb(145, 145, 145); font-size: 20px; font-weight: bold;"><mat-icon
                style=" transform: scale(0.8);">water_drop</mat-icon>{{forecastDay.rain}}% Chuva</h6>
        <!-- <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">{{forecastDay.tempMin}}° a {{forecastDay.tempMax}}°</h3>
                <small>Temperatura</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">{{forecastDay.rain}}%</h3>
                <small>Chance de chuva</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">{{forecastDay.umity}}%</h3>
                <small>Umidade</small>
            </div>
        </div> -->

        <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">Manhã {{forecastDay.morning.temperature}}°</h3>
                <small>{{forecastDay.morning.climate}}</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">Tarde {{forecastDay.afternoon.temperature}}°</h3>
                <small>{{forecastDay.afternoon.climate}}</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">Noite {{forecastDay.night.temperature}}°</h3>
                <small>{{forecastDay.night.climate}}</small>
            </div>
        </div>

        <mat-card-actions>
            <button mat-raised-button color="warn">Ver em detalhes</button>
        </mat-card-actions>




    </mat-card-content>
</mat-card>