.content-tab-foracast-carousel {
    min-height: 900px; /* set default height */
  }
  
  /* For media queries to work on smartphones, be sure to add a meta tag similar to the following in the head of your document 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  */
  
  @media (max-width: 480px) {
  .content-tab-foracast-carousel {min-width: 350px;}
  }
  
  @media (min-width: 481px) and (max-width: 767px) {
  .content-tab-foracast-carousel {min-width: 500px;}
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
  .content-tab-foracast-carousel { min-width: 100px;}
  }
  
  @media (min-width: 900px) {
  .content-tab-foracast-carousel {min-width: 1200px;}
  }
  


  